
.app {}

.app__header {}

.app__footer {
  height: 400px;
  background: darkgrey;
  padding: 50px 0 0;
  // border-radius: 45px;
  // margin: 0 25px;
}


.logo {  
  img {
    margin: 0 auto;
  }
}

.primary-nav {
  ul {
    display: flex;
    justify-content: center;
  }

  a {
    display: inline-block;
    padding: 10px 10px
  }
}