
.app {}

.app__header {}

.app__footer {
  height: 400px;
  background: lightgrey;
  padding: 50px 0 0;
  margin-top: 100px;
}


.logo {  
  img {
    margin: 0 auto;
  }
}

.primary-nav {
  ul {
    display: flex;
    justify-content: center;
  }

}

.primary-nav__link {
  display: inline-block;
  font-weight: 200;
  padding: 10px 10px
}

  .primary-nav__link--active {
    font-weight: 800;
    text-decoration: underline;
  }