
.app {}

.app__header {
  // padding: 0 0 0;
}

.app__main {
  background: #ffffff;
}

.app__footer {
  height: 600px;
  background: lightgrey;
  background-size: cover;
  padding: 50px 0 0;
  margin: 100px 0 0;
}


.logo {  
  img {
    margin: 10px auto;
  }
}

.primary-nav {
  ul {
    display: flex;
    justify-content: center;
  }

  li {

  }

  li:nth-child(4),
  li:nth-child(5) {
    display: none;

    @include mq-small {
      display: inline-block;
    }
  }
}