.drawer {
  position: fixed;
  z-index: 10;
  top: 50px;
  bottom: 0;
  width: 350px;
  max-width: 100%;
  background-color: #e7e7e7;
  padding: 25px 15px;
  transition: position .5s ease;

  @include mq-small {
    top: 0;
  }
}

  .drawer--left {
    left: -350px;
    transition: left .5s ease;

    &.drawer--open {
      opacity: 1;
      left: 0px;
    }
  }

  .drawer--right {
    right: -350px;
    transition: right .5s ease;

    &.drawer--open {
      right: 0;
    }
  }
