.drawer {
  position: fixed;
  top: 50px;
  margin-left: -350px;
  top: 50px;
  bottom: 0;
  background-color: #e7e7e7;
  width: 350px;
  max-width: 100%;
  z-index: 10;
  transition: margin-left .5s ease;
}

  .drawer--open {
    opacity: 1;
    margin-left: 0px;
  }