.filters {}

  .filter {
    margin: 35px 0;
  }

    .filter legend {
      margin-bottom: 10px;
    }

    .filter__input {
      width: 100%;
    }

    .filter__btn-list {
      display: grid;
      grid-template-columns: repeat(2, auto [col-start]);
      gap: 10px;
    }

    .filter__btn-item {}
