.grid {
  display: flex;
  flex-wrap: wrap;

  @include mq-med {
    flex-wrap: nowrap;
  }
}

  .grid__aside {
    width: 100%;
    padding-right: 60px;
    
    @include mq-med {
      width: 35%;
    }

    @include mq-lrg {
      width: 25%;
    }
  }

  .grid__main {
    width: 100%;
    padding-bottom: 100px;
    
    @include mq-med {
      width: 65%;
    }

    @include mq-lrg {
      width: 75%;
    }
  }