.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 600px;
  background-color: black;
  margin: 10px 0;
  overflow: hidden;

  @include mq-lrg {
    margin: 10px 0;
  }
}

  .hero__heading {
    font-size: 42px;
    color: white;
    position: relative;
    margin-top: 80px;
    z-index: 2;
  }

  .hero__image {
    position: absolute;
    max-width: none;
    top: 30%;

    @include mq-med {
    }
  }
