.hero {
  position: relative;
  display: flex;
  justify-content: center;
  height: 600px;
  background-color: black;
  overflow: hidden;
}

  .hero__heading {
    color: white;
    position: relative;
    margin-top: 80px;
    z-index: 2;
  }

  .hero__image {
    position: absolute;
    max-width: none;
    width: 1000px;
    top: 120px;

    @include mq-med {
    }
  }
