.primary-nav {


  .header & {
    display: none;
        
    @include mq-small {
      display: block;
    }

    ul {
      display: flex;
      justify-content: center;
    }
  }
}

  .primary-nav__link {
    display: inline-block;
    margin: 5px 10px;
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }

    .primary-nav__link:hover,
    .primary-nav__link--active {
      text-decoration: none;
      border-bottom: 2px solid black;
      padding-bottom: 0;
    }
    