.products__grid {
  display: grid;
  column-gap: 10px;
  row-gap: 60px;
  margin-top: 10px;
  grid-template-columns: 1fr;

  @include mq-small {
    grid-template-columns: 1fr 1fr;
  }

  @include mq-lrg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

  .product {
    text-align: center;
  }
    
    .product__name,
    .product__price {
      line-height: 1.5em;
    }
    .product__name {
      font-weight: 700;
    }

    .product__price {}
