.products__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 60px;
  margin-top: 10px;
}

  .product {
    text-align: center;
  }

    .product__image {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 25px;
    }
    
    .product__name,
    .product__price {
      line-height: 1.5em;
    }
    .product__name {
      font-weight: 700;
    }

    .product__price {}

    .product__swatches {
      display: flex;
      justify-content: center;
      margin: 0 0 10px;
    }

      .product__swatch {
        margin: 0 5px;
      }
        
        .product__swatch-btn {
          position: relative;
          width: 20px;
          height: 20px;
          margin: 0;
          border-radius: 50%;
          background-size: cover;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            top: -4px;
            right: -4px;
            bottom: -4px;
            left: -4px;
            opacity: 0;
            border: 0px solid black;
            transform: scale(0);
            border: 2px solid black;
            transition: transform .25s ease-out, opacity .2s ease;
          }

          &.product__swatch-btn--active:after {
            opacity: 1;
            transform: scale(1);
          }
        }