.sort {
  margin-top: 25px;
  text-align: left;

  @include mq-med {
    margin-top: 0;
    text-align: right;
  }

  span {
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;

    @include mq-med {
      display: inline;
    }
  }
}

  .sort__input {
    width: 284px;
    padding: 15px;
    border-radius: 15px;
  }