@tailwind base;
// @tailwind components;
@tailwind utilities;

@mixin mq-small {
  @media (min-width: 600px) { @content; }
}

@mixin mq-med {
  @media (min-width: 769px) { @content; }
}

@mixin mq-lrg {
  @media (min-width: 1024px) { @content; }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  color: rgb(var(--foreground-rgb));
  background: #e7e7e7;
  min-height: 950px;
}

h1, h2, h3 {
  font-weight: 800;
}

h3 {
  // font-size: 18px;
}
.h1 {
  font-size: 42px;
}

p {
  margin: 1em 0;
}
a:hover {
  text-decoration: underline;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.extra-bold {
  font-weight: 800;
}

.container {
  width: 1180px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

  .container--main {
    padding-top: 25px;
    padding-bottom: 100px;
    
    @include mq-small {
      padding-top: 50px;
    }
  }

  

@import './components/app.scss';
@import './components/hero.scss';
@import './components/stickyContainer.scss';
@import './components/grid.scss';
@import './components/products.scss';
@import './components/gallery.scss';
@import './components/sort.scss';
@import './components/filters.scss';
@import './components/toggle.scss';
@import './components/breadcrumbs.scss';
@import './components/checkboxBtn.scss';
@import './components/button.scss';
