@tailwind base;
// @tailwind components;
// @tailwind utilities;

@mixin mq-small {
  @media (min-width: 600px) { @content; }
}

@mixin mq-med {
  @media (min-width: 768px) { @content; }
}

@mixin mq-lrg {
  @media (min-width: 1024px) { @content; }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  color: rgb(var(--foreground-rgb));
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 42px;
}

h2, .h2 {
  font-size: 24px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  margin: 1em 0;
}

a:hover {
  text-decoration: underline;
}

.text--align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.extra-bold {
  font-weight: 800;
}

.container {
  width: 1180px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

  .container--padded {
    padding: 25px 15px;

    @include mq-small {
      padding: 50px 15px;
    }
  }

.spacer--small {
  padding-bottom: 25px;
  
  @include mq-small {
    padding-bottom: 50px;
  }  
}
  
.spacer--med {
  padding-bottom: 50px;

  @include mq-small {
    padding-bottom: 100px;
  }
}

.spacer--lrg {
  padding-bottom: 75px;

  @include mq-small {
    padding-bottom: 150px;
  }
}

  

@import './components/app.scss';
@import './components/primaryNav.scss';
@import './components/hero.scss';
@import './components/flex.scss';
@import './components/products.scss';
@import './components/gallery.scss';
@import './components/sort.scss';
@import './components/filters.scss';
@import './components/toggle.scss';
@import './components/breadcrumbs.scss';
@import './components/checkboxBtn.scss';
@import './components/button.scss';
@import './components/select.scss';
@import './components/table.scss';
@import './components/drawer.scss';
